@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="FormController">
    <div class="form-inline">
        <h1 class="text-center">Fetch N' Store</h1>
        <br />
        <select ng-model="httpMethod" class="form-control">
            <option value="GET">GET</option>
            <option value="HEAD">HEAD</option>
        </select>
        <input ng-model="url" type="text" id="disabledTextInput" class="form-control" placeholder="URL">
        <button ng-click="fetch()" class="btn btn-primary">Fetch</button>
    </div>


    <div>
        <h4 class="col-sm-3">Status Code</h4>
        <h4 class="col-sm-3">URL</h4>
        <h4 class="col-sm-3">Method</h4>
        <h4 class="col-sm-3">Response Time</h4>



        <div class="col-sm-3">{{returnedResponse.status}}</div>

        <div class="col-sm-3">{{returnedResponse.url}}</div>

        <div class="col-sm-3">{{returnedResponse.method}}</div>

        <div class="col-sm-3">{{returnedResponse.time}}</div>
    </div>
</div>