@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="FormController">
    <div class="form-inline">
        <h1 class="text-center">Fetch and Store</h1>
        <br />
        <select ng-model="httpMethod" class="form-control">
            <option value="GET">GET</option>
            <option value="HEAD">HEAD</option>
        </select>
        <input ng-model="url" type="text" id="disabledTextInput" class="form-control" placeholder="URL">
        <button ng-click="fetch()" class="btn btn-primary">Fetch</button>

    </div>


    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th>Status Code</th>
                    <th>URL</th>
                    <th>Method</th>
                    <th>Response Time</th>
                </tr>
                <tr>
                    <td>{{returnedResponse.status}}</td>
                    <td>{{returnedResponse.url}}</td>
                    <td>{{returnedResponse.method}}</td>
                    <td>{{returnedResponse.time}}ms</td>
                    <td><button type="submit" ng-click="store()" class="btn btn-primary btn-sm">Store</button></td>
                </tr>
            </table>
        </div>
</div>
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <th>Status Code</th>
                    <th>URL</th>
                    <th>Method</th>
                    <th>Response Time</th>
                </tr>

                <tr ng-repeat="returnedResponse in returnedResponses">
                    <td>{{returnedResponse.StatusCode}}</td>
                    <td>{{returnedResponse.URL}}</td>
                    <td>{{returnedResponse.Method}}</td>
                    <td>{{returnedResponse.ResponseTime}}ms</td>
                    <td><button type="submit" ng-click="DeleteResponse(returnedResponse.ResponseId)" class="btn btn-danger btn-sm">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>