@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="text-center">Fetch N' Store</h1>
        <br />
        <form>
            <fieldset disabled>
                <div class="form-inline">
                    <select id="disabledSelect" class="form-control">
                        <option value="GET">Get</option>
                        <option value="HEAD">Head</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="URL">
                    <button type="submit" class="btn btn-primary">Fetch</button><br /><br />
                </div>
                <button type="submit" class="btn btn-primary">Store</button>
            </fieldset>
        </form>
    </div>
    </div>
